<!DOCTYPE html>
<html>
    <head>
        <title>RASVAMT</title>
        <!-- <link rel="stylesheet" type="text/css" href="file/style.css"/> -->
        <link rel="stylesheet" href="/file/jquery.mobile-1.4.2.min.css">
        <link rel="stylesheet" href="/file/bootstrap/css/bootstrap.min.dark.css"/>
        <link rel="stylesheet" href="/file/index.css"/>
        </head>
        <script src="/file/jquery-1.11.1.min.js"></script>
        <script src="/file/bootstrap/js/bootstrap.min.js"></script>
    <body>
        
        <h1>{{ title }}</h1>
       
    </body>
</html>