<!DOCTYPE html>
<html>
    {% block head %}
        <title>RASVAMT</title>
        <!-- <link rel="stylesheet" type="text/css" href="file/style.css"/> -->
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.dark.css"/>
        <link rel="stylesheet" href="../static/index.css"/>
        </head>
        <script src="../static/jquery-1.11.1.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>