body {
    overflow:hidden;
}

.btn {
    padding: 2px 6px;
    margin-top:1px;
    margin-bottom:1px;
    border: 1px outset buttonface;
    border-radius: 40px;
    outline:none !important;
}

.btn.active {
    color: #DDDDDD;
}

.glyphicon-remove {
    font-size: 0.5em;
    position:relative;
    left:4px;
    top:-8px;
}

#layer-tabs .btn {
    border-radius: 4px;
}
#layer-tabs .btn.inactive {
    background-color: #000000 !important;
}
#layer-tabs #tab_0 {
    background-color: #1f79a3;
    border-color: #1f79a3;
}

#survey-name-filter .btn {
    background-color: rgba(0,0,0,0.0);
    border-color: #1f79a3;
}
#survey-name-filter .btn.active {
    background-color: rgba(0,153,255,0.7);
    border-color: #1f79a3;
}

#survey-status-filter .btn {
    background-color: rgba(179, 197, 255, 0.0);
}
#survey-status-filter #status_1 {
    border-color: #5C6A71;
}
#survey-status-filter #status_2 {
    border-color: #64757E;
}
#survey-status-filter #status_3 {
    border-color: #6D848F;
}
#survey-status-filter #status_4 {
    border-color: #6B90A1;
}
#survey-status-filter #status_1.active {
    background-color: #5C6A71;
}
#survey-status-filter #status_2.active {
    background-color: #64757E;
}
#survey-status-filter #status_3.active {
    background-color: #6D848F;
}
#survey-status-filter #status_4.active {
    background-color: #6B90A1;
}

#survey-creator-filter .btn {
    background-color: rgba(0,0,0,0.0);
    border-color: #1f79a3;
}
#survey-creator-filter .btn.active {
    background-color: rgba(0,153,255,0.7);
}

.noUi-target {
    border-radius:20px;
    background:rgba(0,0,0,0.0);
    box-shadow:none;
    min-width:300px;
    margin-left: 10px;
    margin-right: 10px;
}
.noUi-handle {
    border-radius:20px;
    box-shadow:none;
}

#survey-date-filter-display {
    position:relative;
    margin-top:8px;
}
#survey-date-slider-start {
    width:90px;
    padding-left:5px;
    border: 1px outset buttonface;
    border-radius:20px;
    outline:none;
}
#survey-date-slider-end {
    width:90px;
    padding-left:5px;
    border: 1px outset buttonface;
    border-radius:20px;
    outline:none;
    float:right;
}

#survey-selection-tool .btn {
    background-color: rgba(0,0,0,0.0);
    border-color: rgba(127, 127, 0, 1.0);
}

#survey-selection-tool #tab-tool {
    border-color: rgba(0, 127, 127, 1.0);
}

#parameter-display {
    position:absolute;
    bottom:0px;
    right:0px;
    padding: 2px;
}

table {
    background-color: rgba(0,0,0,0.5);
    color: inherit;
}

.well-title {
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#toggle-filter-menu {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    padding: 0px;
}

#filter-ui {
    position: absolute;
    padding: 10px;
    margin-top: 0px;
    margin-left: 10px;
    background-color: rgba(0,0,0,.8);
    border:none;
    z-index:10;
    max-width:450px;
}

#filter-ui a {
    color:rgb(250, 250, 250);
    padding-left: 5px;
    padding-right: 5px;
}

.irs-with-grid {
    opacity:0.85;
}

.aladin-fullscreen {
    z-index:-1;
}

.aladin-fov {
    display: none;
}

.aladin-location {
    bottom: 0px;
    background-color: rgba(0,0,0,0);
}

.aladin-location-text {
    color: #FFFFFF;
}

.aladin-fullscreenControl {
    display: none;
}

.aladin-layerBox {
    top: 60px;
    z-index: 20;
}

.aladin-layersControl {
    top: 60px;
}
.aladin-layersControl-container {
    top: 60px;
    background:rgba(250,250,250,0.3);
}

.aladin-gotoControl {
    display: none;
}

.aladin-frameChoice {
    display: none;
}

.collapsed {
    padding-right: 0;
}

.navbar {
    margin: 0px;
}

.navbar-default {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

.ui-rangeSlider-container {
    border-color:#1f79a3;
}

.ui-rangeSlider-arrow {
    border-color:#1f79a3;
}

.ui-rangeSlider-innerBar {
    background:rgba(0,0,0,0.9);
}

.ui-rangeSlider-label {
    background:rgba(127,127,127,0.5);
    box-shadow:none;
}

.ui-rangeSlider-label-inner {
    border-top-color:rgba(127,127,127,0.5);
}

.ui-tooltip {
    padding: 10px 20px;
    color: grey;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;
  }
