/*
 This file is part of RASVAMT.
 
 RASVAMT is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 RASVAMT is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with RASVAMT.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    overflow:hidden;
    display:inline-block;
}

#main-navbar {
    width:250px;
    height:50px;
    padding:0;
    margin:0;
    display:inline-block;
}

#main-navbar a {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    text-decoration: none;
}

#main-navbar a:hover {
    color:#FFFFFF;
}

#main-navbar .navbar-header {
    color:#E4E4E4;
    margin: 12px 15px;
    font-size:18px;
}

#main-navbar .navbar-item {
    color:#ABABAB;
    margin: 15px 15px;
    font-size:15px;
}

#filter-ui .btn {
    padding: 2px 6px;
    margin-top:1px;
    margin-bottom:1px;
    border: 1px outset buttonface;
    border-radius: 40px;
    outline:none !important;
}

#filter-ui .btn.active {
    color: #DDDDDD;
}

#layer-tabs .glyphicon-remove {
    font-size: 0.5em;
    position:relative;
    left:4px;
    top:-8px;
}

#layer-tabs .btn {
    border-radius: 4px;
}
#layer-tabs .btn.inactive {
    background-color: #000000 !important;
}
#layer-tabs #tab_0 {
    background-color: #1f79a3;
    border-color: #1f79a3;
}
#layer-tabs #add-tab {
    background-color: #000000;
    border-color: #AAAAAA;
    height:20px;
    width:20px;
    opacity:0.8;
    margin:2px;
}
#layer-tabs #add-tab .glyphicon-plus {
    right: 3px;
    top: -1px;
}

#tab-options-filter .btn {
    width:20px;
    height:20px;
}
#tab-options-filter #tab-colour-button-random {
    background-color:#000000;
}
#tab-options-filter #tab-colour-button-random .glyphicon-question-sign {
    right: 4px;
    top: -1px;
}
#tab-options-filter .move-tab-button {
    background-color:#000000;
}
#tab-options-filter .move-tab-button .glyphicon {
    right: 4px;
    top: -1px;
}
#tab-options-filter #tab-colour-button-random .glyphicon-question-sign {
    right: 4px;
    top: -1px;
}
#tab-options-filter #tab-options-filter-message {
    font-size:12px;
}

#survey-name-filter .btn {
    background-color: rgba(0,0,0,0.0);
    border-color: #1f79a3;
}
#survey-name-filter .btn.active {
    background-color: rgba(0,153,255,0.7);
    border-color: #1f79a3;
}

#survey-status-filter .btn {
    background-color: rgba(179, 197, 255, 0.0);
}
#survey-status-filter #status_1 {
    border-color: #5C6A71;
}
#survey-status-filter #status_2 {
    border-color: #64757E;
}
#survey-status-filter #status_3 {
    border-color: #6D848F;
}
#survey-status-filter #status_4 {
    border-color: #6B90A1;
}
#survey-status-filter #status_1.active {
    background-color: #5C6A71;
}
#survey-status-filter #status_2.active {
    background-color: #64757E;
}
#survey-status-filter #status_3.active {
    background-color: #6D848F;
}
#survey-status-filter #status_4.active {
    background-color: #6B90A1;
}

#survey-creator-filter .btn {
    background-color: rgba(0,0,0,0.0);
    border-color: #1f79a3;
}
#survey-creator-filter .btn.active {
    background-color: rgba(0,153,255,0.7);
}

.noUi-target {
    border-radius:20px;
    background:rgba(0,0,0,0.0);
    box-shadow:none;
    min-width:250px;
    margin-left: 10px;
    margin-right: 10px;
}
.noUi-handle {
    border-radius:20px;
    box-shadow:none;
}

#survey-date-filter-display {
    position:relative;
    margin-top:8px;
}
#survey-date-slider-start {
    width:90px;
    padding-left:5px;
    border: 1px outset buttonface;
    border-radius:20px;
    outline:none;
}
#survey-date-slider-end {
    width:90px;
    padding-left:5px;
    border: 1px outset buttonface;
    border-radius:20px;
    outline:none;
    float:right;
}

#survey-selection-tool .btn {
    background-color: rgba(0,0,0,0.0);
    border-color: #1f79a3;
}
#survey-selection-tool #add-selection-tool {
    border-color: #81BD8B;
}
#survey-selection-tool #remove-selection-tool {
    border-color: #81BD8B;
}

#parameter-display {
    position:absolute;
    bottom:0px;
    right:0px;
    padding: 5px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
}
#parameter-display p {
    margin: 0 0 3px;
}

.well-title {
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#toggle-filter-menu {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    padding: 0px;
}

#filter-ui {
    position: absolute;
    padding: 10px;
    margin-top: 0px;
    margin-left: 10px;
    background-color: rgba(0,0,0,0.6);
    border:none;
    z-index:10;
    max-width:300px;
}

#filter-ui a {
    color:rgb(250, 250, 250);
    padding-left: 5px;
    padding-right: 5px;
}

.irs-with-grid {
    opacity:0.85;
}

.aladin-fullscreen {
    z-index:-1;
}

.aladin-fov {
    display: none;
}

.aladin-location {
    bottom: 0px;
    background-color: rgba(0,0,0,0);
}

.aladin-location-text {
    color: #FFFFFF;
}

.aladin-fullscreenControl {
    display: none;
}

.aladin-layersControl-container {
    background:rgba(250,250,250,0.3);
    top: 90px;
}
.aladin-layerBox {
    top: 90px;
    z-index: 20;
    background-color: rgba(0,0,0,0.6);
}

.aladin-gotoControl-container {
    background:rgba(250,250,250,0.3);
    top:50px;
}
.aladin-gotoBox {
    background-color:rgba(0,0,0,0.6);
    top:50px;
}

.aladin-frameChoice {
    bottom:50px;
    background-color:rgba(0,0,0,0.0);
    outline:none;
    margin-right:5px;
}

.aladin-container {
    background-color: #3A3A3A;
}

.aladin-logo-container {
    top:5px;
    right:5px;
    bottom:auto;
}

.zoomPlus {
    background-color: rgba(0,0,0,0.6);
}
.zoomMinus {
    background-color: rgba(0,0,0,0.6);
}

.collapsed {
    padding-right: 0;
}

.navbar {
    margin: 0px;
}

.navbar-default {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}
